#            🇮🇷    GEOIP  
#
#
#          LOON   .CONIG





[General]
#
sni-sniffing = true
ipv6 = false
skip-proxy = localhost,*.local,e.crashlytics.com,captive.apple.com,local.adguard.org,10.0.0.0/8,100.64.0.0/10,127.0.0.1/32,169.254.0.0/16,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,240.0.0.0/4,::1/128,fc00::/7,fd00::/8,fe80::/10,ff00::/8,2001::/32,2001:db8::/32,2002::/16,::ffff:0:0:0:0/1,::ffff:128:0:0:0/1
bypass-tun = 10.0.0.0/8,100.64.0.0/10,127.0.0.0/8,169.254.0.0/16,172.16.0.0/12,192.0.0.0/24,192.0.2.0/24,192.88.99.0/24,192.168.0.0/16,198.18.0.0/15,198.51.100.0/24,203.0.113.0/24,224.0.0.0/4,255.255.255.255/32
#dns-server = system,119.29.29.29,223.5.5.5,114.114.114.114,8.8.8.8
dns-server = 119.29.29.29,223.5.5.5
doh-server = https://1.12.12.12/dns-query,https://120.53.53.53/dns-query
allow-udp-proxy = true
allow-wifi-access = false
wifi-access-http-port = 1234
wifi-access-socks5-port = 1235
real-ip = google.com,*.stun.playstation.net,xbox.*.microsoft.com,*.xboxlive.com
internet-test-url = http://connectivitycheck.platform.hicloud.com/generate_204
proxy-test-url = http://latency-test.skk.moe/endpoint

test-timeout = 2
interface-mode = auto
switch-node-after-failure-times = 1
resource-parser = https://github.com/sub-store-org/Sub-Store/releases/latest/download/cron-sync-artifacts.min.js
disconnect-on-policy-change = true
disable-stun = true
geoip-url = https://gitlab.com/Masaiki/GeoIP2-CN/-/raw/release/Country.mmdb
#
[Host]
#
[Proxy]

🇬🇧 GB = trojan,52.56.183.187,443,"your_password",transport=tcp,sni=aws-uk-london-1.f1rocketnode.com,path=/,udp=true
🇩🇪 DE = trojan,54.93.172.88,443,"your_password",transport=tcp,sni=aws-ge-frankfurt-1.f1rocketnode.com,path=/,udp=true

#
[Remote Proxy]
#
[Proxy Group]


[Remote Rule]

[Remote Filter]


[Rule]

GEOIP,IR,DIRECT
FINAL,PROXY
#
#
[Plugin]
#
[Mitm]

skip-server-cert-verify = true

#
#
#     mermeroo
